.form {
  margin-top: 10px;

  input {
    margin-right: 5px;
  }
}

.user {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid gray;

  span {
    font-size: 12px;
  }

  h3 {
    margin: 5px 0;
  }
}

